body{
    text-align: center;
    font-family: "Courier";
}

.container{
    width: 70%;
    border: 1px solid red;
    margin: 0 auto; 
}

.container .titulo{
    font-size: 18px;
    color: green;
}

.container .parrafo{
    text-align: left;
    font-size: 12px;
}
