body{
    text-align: center;
    font-family: "courier";
}

.container{
    width: 70%;
    border: 1px solid red;
    margin: 0 auto; 
}

.cabecera{
    background: brown;
    color: #fff;
    
}

.container .titulo{
    font-size: 18px;
    color: green;
}

.container .parrafo{
    text-align: left;
    font-size: 12px;
}
